@import "tailwindcss";
@plugin "daisyui";


/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quattrocento:wght@400;700&display=swap'); */



@plugin "daisyui" {
  themes: fantasy --default, dark --prefersdark;
}

@theme{
  --main-font:"Oswald", sans-serif;
  --second-font:"Quattrocento", serif;
}

@layer components{
  .align-element{
    @apply mx-auto px-8 w-[100%] max-w-6xl;
  }
}

.active{
  @apply bg-gray-500 text-blue-100
}